{% extends "base.html" %}
{% load static %}

{% block title %}
  My Portofolio
{% endblock title %}

{% block content %}
  <!-- Back to top button -->
  
  
  <div class="vg-main-wrapper">

    <!-- home page -->
    <div class="vg-page page-home" id="home" style="background-image: url(../assets/img/bg_image_1.jpg);">
      <div class="caption wow zoomInUp">
        <h1 class="fw-normal">Welcome</h1>
        <h2 class="fw-medium fg-theme">I'm Hossam Saad</h2>
        <p class="tagline">Data Analyst</p>
      </div>
    </div>

</div> <!-- End main wrapper -->
  
{% endblock content %}