{% extends "base.html" %}
{% load static %}

{% block title %}
  My Certifications
{% endblock title %}

{% block content %}
    <!-- Page Blog -->
    <div class="vg-page page-blog" id="blog">
        <h1 class="text-center fg-dark wow fadeInUp">My Certification</h1>
        <div class="container">
          <div class="row post-grid">
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/Ds_R_Datacamp.png' %}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">Programming</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title">Data science Track with R </a>
                  <a>DataCamp -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Nov 24, 2019</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/courseraRRR.png'%}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">Programming</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title">Data Science Specialization</a>
                  <a>Coursera -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Mar 20, 2020</span>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/SQL.jfif'%}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">SQL server</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title">Data Analyst with SQL server track</a>
                  <a>DataCamp -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Dec 4, 2021</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/mastery.PNG'%}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">Artificial Intelligence</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title">AI Analyst Mastery Exam</a>
                  <a>IBM -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Oct 29, 2020</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/spreadsheet.png'%}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">SpreadSheets</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title"> Spreadsheet Fundamentals Track</a>
                  <a>DataCamp -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Oct 11, 2021</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/Ensemble.png'%}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">Programming</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title"> Ensemble Methods</a>
                  <a>DataCamp -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Jan 10, 2021</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/sentiment.png'%}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">Programming</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title">Sentiment Analysis </a>
                  <a>DataCamp -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Feb 15, 2021</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp">
              <div class="card">
                <div class="img-place">
                  <img src="{% static 'img/Certificate/DB Fundamentals.JPG'%}" alt="">
                </div>
                <div class="caption">
                  <a href="javascript:void(0)" class="post-category">DataBase</a>
                  <a href="{% url 'resume:my_certifications' %}" class="post-title">Database Fundamentals </a>
                  <a>Mahara-Tech -</a>
                  <span class="post-date"><span class="sr-only">Published on</span> Apr 10, 2020</span>
                </div>
              </div>
            </div>
  
          </div>
        </div>
    </div> <!-- End page blog -->
{% endblock content %}