{% extends "base.html" %}
{% load static %}
{% block title %}
  My Services
{% endblock title %}
{% block content %}
   <!-- Page Service -->
   <div class="vg-page page-service" id="achievements">
    <h1 class="text-center wow fadeInUp">
      <p class="menu-item">
      <div href="#achievements" class="menu-link">
        <span> <i class="fas fa-medal"></i> </span>
        <span class="caption">Achievements</span>
      </div>
      </p>
    </h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 wow fadeInUp">
          <div class="card card-body">
            <div class="iconic">
              <span> <i class="fas fa-user-graduate"></i> </span>
            </div>
            <h4 class="fg-theme">Graduation Project</h4>
            <p>Earn the 2nd place of the top 3 graduation project about Machine Learning Based Stock Predictor Project
            </p>
            <p> This Project aim to predict Stock Prices based on Machine learning(Regression models), deep
              learning(LSTM, Transformer models), statistical learning(Arima) models and Sentiment Analysis
              methods</p>
            <p>

            </p>
            <a href="https://drive.google.com/file/d/18bh6UsMBk0WlGnI0OurZmehInJArIdvR/view"
              class="btn btn-theme btn-rounded">Award</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp">
          <div class="card card-body">
            <div class="iconic">
              <span> <i class="fas fa-chart-pie"></i> </span>
            </div>
            <h4 class="fg-theme">AI Analyst - IBM</h4>
            <p>Artificial Intelligence Analyst - Mastery</p>
            <p> Apply machine learning algorithms and build AI solutions by using IBM Watson
              such as AI, Natural Language Processing (NLP), chatbots, computer vision, Watson Studio, Watson Machine
              Learning, AutoAI, Watson Assistant, Discovery, Natural Language Understanding, Knowledge Studio, and
              Visual Recognition.</p>
            <a href="https://www.credly.com/badges/6cb98120-fc5a-4097-91c1-62935c0c057f?source=linked_in_profile"
              class="btn btn-theme btn-rounded"> Award </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp">
          <div class="card card-body">
            <div class="iconic">
              <span> <i class="fas fa-cogs"></i> </span>
            </div>
            <h4 class="fg-theme">InnovEgypt - TIEC</h4>
            <p>InnovEgypt is a training program on innovation and entrepreneurship</p>
            <p>Reach the team to the qualifying stage to the semi-finals of thecompetition</p>
            <p>Our approach to inform people of the importance of cultural places,
              unknown places and how to protect them, started from the very first ideation phase till building a
              complete business model </p>
            <a href="https://drive.google.com/file/d/1DXNlVN-7cq2Ano8LOvFbF0_V9x7Jp8yU/view"
              class="btn btn-theme btn-rounded"> Award </a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- End page services -->



{% endblock content %}