{% load static %}
 <!-- Footer -->
<div class="vg-footer footer" id="contact" style="margin-left: 30px;">
  <h1 class="text-center">Contact</h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 py-3">
        <div class="float-lg-right">
          <p>Where to find me</p>
          <hr class="divider">
          <p class="fs-large fg-white">Nasr City ,Cairo ,Egypt</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 py-3">
        <div class="float-lg-right">
          <p>Follow me</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li><a href="https://github.com/Hossamsaad99">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/hossam-saad-396108172/">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100019072302541">Facebook</a></li>
            <li><a href="https://mobile.twitter.com/hossamsaad30">Twitter</a></li>

          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 py-3">
        <div class="float-lg-right">
          <p>Contact me</p>
          <hr class="divider">
          <ul class="list-unstyled">
            <li>hossamsaad8090@gmail.com</li>
            <li>hossamhamed1999@gmail.com</li>
            <li>+(20)1221531209</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-12">
      <p class="text-center tag mb-0 mt-4">Copyright &copy;2020. All right reserved | Software Engineering <span class="ti-heart fg-theme-red"></span> by <a href="https://www.macodeid.com/">Eng Hossam Saad</a></p>
    </div>
  </div>
</div> <!-- End footer -->

{% include "style.html" %}