<style>
@media only screen and (max-width: 700px) {
    
    .vg-footer 
    {
     text-align: center;
     left: -31px;
     width: 100%;
    }
    .vg-footer .divider
    {
      display: none;
    }
    .vg-footer .footer-info p
    {
      text-align: center;
    }
    .tag
    {
        text-align: center;
    }
   }
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .vg-footer 
{
    text-align: center;
    left: -31px;
    width: 100%;
}
.vg-footer .divider
{
    display: none;
}
.vg-footer .footer-info p
{
    text-align: center;
}
.tag
{
    text-align: center;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .vg-footer 
    {
    text-align: center;
    left: -31px;
    width: 100%;
    }
    .vg-footer .divider
    {
    display: none;
    }
    .vg-footer .footer-info p
    {
    text-align: center;
    }
    .tag
    {
        text-align: center;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .vg-footer 
{
    text-align: center;
    left: -31px;
    width: 100%;
}
.vg-footer .divider
{
    display: none;
}
.vg-footer .footer-info p
{
    text-align: center;
}
.minibar
{
    width: 115px;
}
.tag
{
    text-align: center;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .vg-footer 
{
    padding-left: 100px;
}
.minibar
{
    width: 115px;
}
}
 </style>
 